# Auto save files
*~
*.output
.DS_Store

# Prerequisites
*.d
*.dSYM

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.class

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.zip
Atomic/Atomic
Atomic/Mutex
Bounded Buffer/ProducerConsumer
Bounded Buffer/ProducerConsumer1CV
Box/Box
Box/BoxCondVar
Box/BoxLambda
Box/BrokenBox
Box/SafeBox
STL/functor
STL/mem_fn
STL/lambda
Simple Echo Client Server/SimpleEchoClient
Simple Echo Client Server/SimpleEchoServer
Threads/Terminate
Threads/ThreadExample1
Threads/ThreadExample2
Threads/ThreadExample3
Threads/ThreadExample4
WorkQueue/StoppableWorkQueue
WorkQueue/WorkQueue
